body {
	width: 182px;
	height: 95px;
	padding: 15px;
	font-family: arial;
}

.content-block {
	display: hidden;
	width: 100%;
	height: 100%;
}

.content-block.login-form input {
	display: block;
	width: 170px;
	padding: 4px;
	margin-bottom: 6px;
	font-size: 10pt;
}

.content-block.login-form button {
	display: block;
	font-size: 10pt;
	color: #fff;
	background: #00A872;
	border: 1px solid #000;
	padding: 4px;
	margin-left: auto;
	margin-right: 0;
}

.content-block .icon {
	margin: 0 auto 15px auto;	
}

.content-block.loading .icon.loading-icon {
	width: 32px;
	height: 32px;
	background: url('loading.gif');
}

.content-block.done .icon.done-icon {
	width: 48px;
	height: 48px;
	background: url('done.png');
}

.content-block .label {
	font-size: 10pt;
	color: #333;
	text-align: center;
} 
